.item-border {
  border: var(--bs-primary) solid 3px;
  border-radius: 25px;
  background-color: unset;
}

.item-border:hover {
  border-color: var(--bs-secondary);
  background-color: var(--bs-primary);
  cursor: pointer;
}

.kb-catagory-container .kb-catagory-child {
  max-width: 100%;
  max-height: 300px;
  user-select: none;
  flex: 1 0 49%;
}

.kb-catagory-container .kb-catagory-child:hover {
  border-color: var(--bs-secondary);
  background-color: var(--bs-primary);
  cursor: pointer;
}

/* .kb-catagory-child:nth-child(2n) {
  flex-basis: 100%;
} */

.category-container > p{
  max-height: 145px;
  /* height: 145px; */
}

@media (max-width: 842px) {
  .kb-catagory-container .kb-catagory-child {
    width: 100%;
  }
}