Writing documentation is important. Writing good documentation is even better.<br>
<br>
Some developers, if not most, are saying Symfony has a good documentation.<br>
I think it's one of the worst documentations I've ever seen and here is why:<br>
<br>
<b>There is no method documentation.</b><br>
<br>
The only documentation are How-to's aka tutorials.<br>
Which is okay for code snippets and for grasping concepts however when you want to know what a method does you're f--ed.<br>
<br>
Also if you have a good method documentation using the class becomes a lot clearer.<br>
<br>
An example of a good documentation would be <a href="https://discord.js.org/#/docs/main/stable/general/welcome" target="_blank">Discord.JS</a>.<br>
You just grab some example code and use their method documentation to expand your project and find what you want to do.<br>
<br>
For example, when the event "interactionCreate" is triggered I want grab the channel entity.<br>
"interactionCreate" gives me according to the example. So I search for "interaction" in the documentations and find the class "Interaction".<br>
Which gives me a list of properties and methods I can call. Very clear and straighforward.<br>
<br>
I want channel. Let's see... OH. "Interaction" has a property called channel!<br>
So my code would be: "interaction.channel"<br>
<br>
Okay I want the name of this channel. Let's see... OH. "TextChannel" has a property called "name" which gives me the name of this channel!<br>
So my code would be: "interaction.channel.name"!<br>
<br>
Again very clear and straighforward.<br>
The documentation also exaplains the properties and methods in detail with examples.<br>
So there is enough information for anyone to understand how it works and how it's being used.<br>
<br>
<br>
And that is how you write a good documentation.<br>
<br>
Now I'm not saying How-To's or tutorials are not usefull. But if there isn't a tutorial done about the property or method you want to use or you want more info about a class and it's properties and methods then you're f--ed.