{% extends "base.html.twig" %}

{% block title %}Admin Panel - Knowledge Base{% endblock %}

{#
<h3>Test</h3>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequuntur consectetur vitae commodi esse obcaecati sunt nobis eum quibusdam provident! Ducimus voluptates veniam obcaecati quas suscipit, doloribus tenetur quod officia?
</p>
#}

{% block body %}
	<div class="container justify-content-center mb-5">
		<h1>Admin Panel</h1>
	</div>
	<div class="container-fluid justify-content-center flex-column">
		<div class="container m-1 p-3 item-border category-container" data-path="/admin/new_article">
			<h3>Create new article</h3>
			<p>
				Something on your mind you want to share? Create a new article!
			</p>
		</div>
		<div class="container m-1 p-3 item-border category-container" data-path="/admin/manage_articles">
			<h3>Manage articles</h3>
			<p>
				Is there an article not to your liking? Manage it here!
			</p>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(".category-container p").each((index, element) => new Dotdotdot(element, {}))
    $(".category-container").on("click", (event) => {
      let path = findDataFromParent(event.currentTarget, "path");
      if (!isEmpty(path)) 
      window.location.href = path;
    })
	</script>
{% endblock %}
