{% extends "base.html.twig" %}

{% block title %}Manage articles - Knowledge Base{% endblock %}

{#
<h3>Test</h3>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequuntur consectetur vitae commodi esse obcaecati sunt nobis eum quibusdam provident! Ducimus voluptates veniam obcaecati quas suscipit, doloribus tenetur quod officia?
</p>
#}

{% block body %}
	<div class="container justify-content-center mb-5">
		<h1>Manage articles</h1>
	</div>
	<div class="container-fluid">
		{% if all_articles %}
			<table style="width:100%;">
				<tr>
					<th>Title</th>
					<th>Category</th>
					<th>Author</th>
					<th>Published on</th>
					<th>Actions</th>
				</tr>
				{% for article in all_articles %}
					<tr>
						<td>{{ article.title }}</td>
						<td>{{ article.category.name }}</td>
						<td>{{ article.author.username }}</td>
						<td>{{ article.published_on | date('d-m-Y') }}</td>
						<td>
							<a href="/edit_article/{{ article.id }}"><button class="btn btn-primary">Edit</button></a>
							<a href="#" class="delete-article" data-id="{{ article.id }}"><button class="btn btn-danger">Delete</button></a>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<div class="container justify-content-center text-center">
				<span>There are no articles in this knowledge base.</span>
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	<script>
    $(".delete-article").on("click", (event) => {
      let id = findDataFromParent(event.currentTarget, "id");
      $.ajax({
				"method": "DELETE",
				"url": "/admin/delete_article/" + id
			}).then((data, textStatus, jqXHR) => {
				toastr.success("Article deleted! Reloading data...", "Sucess")
				setTimeout(() => location.reload(), 2000)
			})
    })
	</script>
{% endblock %}
