{% extends "base.html.twig" %}

{% block title %}{% if edit_mode %}Edit{% else %}New{% endif %} Article - Knowledge Base{% endblock %}

{#
<h3>Test</h3>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequuntur consectetur vitae commodi esse obcaecati sunt nobis eum quibusdam provident! Ducimus voluptates veniam obcaecati quas suscipit, doloribus tenetur quod officia?
</p>
#}

{% block body %}
  <div class="container justify-content-center mb-5">
    <h1>{% if edit_mode %}Edit{% else %}New{% endif %} Article</h1>
  </div>
  <div class="container-fluid justify-content-center flex-row">
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.category) }}
        {{ form_row(form.content) }}

        <button type="submit" class="btn">{% if edit_mode %}Edit{% else %}Create{% endif %} article</button>
    {{ form_end(form) }}
  </div>
{% endblock %}