{% extends "base.html.twig" %}

{% block title %}All articles - Knowledge Base{% endblock %}

{% block body %}
  <div class="container justify-content-center mb-5">
    <h1>All articles</h1>
  </div>
  {% if articles %}
    <div class="container-fluid justify-content-center flex-column">
    {% for article in articles %}
        <div class="container m-1 p-3 item-border category-container" data-id="{{ article.id }}">
          <h3>{{ article.title }}</h3>
          <span><b>Category</b>: {% if article.category %}<a href="/category/{{ article.category.id }}">{{ article.category.name }}</a>{% else %}<i>None</i>{% endif %}</span><br>
          <br>
          <p>
            {{ article.content | raw }}
          </p>
        </div>
    {% endfor %}
    </div>
  {% else %}
    <div class="container justify-content-center text-center">
      <span>There are no articles in this knowledge base.</span>
    </div>
  {% endif %}
{% endblock %}
{% block javascripts %}
  <script>
    $(".category-container p").each((index, element) => new Dotdotdot(element, {}))
    $(".category-container").on("click", (event) => {
      let id = findDataFromParent(event.currentTarget, "id");
      window.location.href = `/article/${id}`;
    })
  </script>
{% endblock %}