{% extends "base.html.twig" %}

{% block title %}{{ article.title }} - Knowledge Base{% endblock %}

{#
<h3>Test</h3>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequuntur consectetur vitae commodi esse obcaecati sunt nobis eum quibusdam provident! Ducimus voluptates veniam obcaecati quas suscipit, doloribus tenetur quod officia?
</p>
#}

{% block body %}
  <div class="container justify-content-center mb-5">
    <h1>{{ article.title }}</h1>
  </div>
    <div class="container-fluid">
      <span><b>Category</b>: {% if article.category %}<a href="/category/{{ article.category.id }}">{{ article.category.name }}</a>{% else %}<i>None</i>{% endif %}</span><br>
      <br>
      <p>
        {{ article.content | raw }}
      </p>
    </div>
{% endblock %}