<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
         <link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
         <link href="{{ asset('css/bootstrap_extended.css') }}" type="text/css" rel="stylesheet" />
         <link href="{{ asset('css/toastr.min.css') }}" type="text/css" rel="stylesheet" />
         <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet" />
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {{ include("navbar.html.twig") }}
        <div class="container-lg mt-5 d-lg-flex justify-content-lg-center flex-lg-column">
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ asset('js/dotdotdot.js') }}"></script>
        <script src="{{ asset('js/toastr.min.js') }}"></script>
        <script src="{{ asset('js/toolbox.js') }}"></script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
