{% extends "base.html.twig" %}

{% block title %}{{ category.name }} - Knowledge Base{% endblock %}

{#
<h3>Test</h3>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequuntur consectetur vitae commodi esse obcaecati sunt nobis eum quibusdam provident! Ducimus voluptates veniam obcaecati quas suscipit, doloribus tenetur quod officia?
</p>
#}

{% block body %}
  <div class="container justify-content-center mb-5">
    <h1>{{ category.name }}</h1>
  </div>
  {% if articles %}
    <div class="container-fluid justify-content-center flex-row">
    {% for article in articles %}
        <div class="container m-1 p-3 item-border category-container" data-id="{{ article.id }}">
          <h3>{{ article.title }}</h3>
          <p>
            {{ article.content | raw }}
          </p>
        </div>
    {% endfor %}
    </div>
  {% else %}
    <div class="container justify-content-center text-center">
      <span>No articles found in this category.</span>
    </div>
  {% endif %}
{% endblock %}
{% block javascripts %}
  <script>
    $(".category-container p").each((index, element) => new Dotdotdot(element, {}))
    $(".category-container").on("click", (event) => {
      let id = findDataFromParent(event.currentTarget, "id");
      window.location.href = `/article/${id}`;
    })
  </script>
{% endblock %}