{% extends "base.html.twig" %}

{% block title %}Knowledge Base{% endblock %}

{#
<h3>Test</h3>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequuntur consectetur vitae commodi esse obcaecati sunt nobis eum quibusdam provident! Ducimus voluptates veniam obcaecati quas suscipit, doloribus tenetur quod officia?
</p>
#}

{% block body %}
  <div class="container justify-content-center mb-5">
    <h1>Knowledge Base</h1>
  </div>
  {% if categories %}
    <div class="container-fluid justify-content-between flex-row flex-wrap kb-catagory-container">
    {% for category in categories %}
        <div class="container m-1 p-3 justify-content-center flex-column text-center kb-catagory-child item-border" data-id="{{ category.id }}">
          <h3>{{ category.name }}</h3>
          {% if category.description %}
            <p>
              {{ category.description }}
            </p>
          {% endif %}
        </div>
    {% endfor %}
    </div>
  {% else %}
    <div class="container justify-content-center text-center">
      <span>No categories found. Would you like to see <a href="#" target="_self">all articles</a>?</span>
    </div>
  {% endif %}
{% endblock %}
{% block javascripts %}
  <script>
    $(".kb-catagory-child").on("click", (event) => {
      let id = findDataFromParent(event.currentTarget, "id");
      window.location.href = `/category/${id}`;
    })
  </script>
{% endblock %}