<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb3">
  <div class="container">
    <a href="/" class="navbar-brand">Knowledge Base</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
      <span class="navbar-toggle-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mobile-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Categories</a>
        </li>
        <li class="nav-item">
          <a href="/all_articles" class="nav-link">All articles</a>
        </li>
        {% if app.user %}
          <li class="nav-item">
            <a href="/admin" class="nav-link">Admin Panel</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="/register" class="nav-link">Register</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>